*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.simple-table-container {
    box-sizing: border-box;
    overflow-x: auto;
  }
  
  .simple-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .simple-table th,
  .simple-table td {
    padding: 8px;
    text-align: left;
  }
  .simple-table th {
    background-color: transparent;
    border-bottom: 4px solid rgba(233, 69, 208, 1);
  }
  .action-button {
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.06);
    z-index: 2;
    border: none;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
  } 
  .view-icon {
    font-size: 8px;
    width: 5px;
    height: 5px;

  }
  .table {
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .pagination-container {
    margin-top: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 10px 10px 10px;
    width: 100%;
  }
  .register-button {
    cursor: pointer;
    width: 117px;
    height: 38px;
    color: white;
    border: 1px solid rgba(233, 69, 208, 1);
    /* padding: 3px 5px 3px 5px; */
    border-radius: 5px;
    background: linear-gradient(to right top, #802F8C, #636593);
  }
  .pagination-right {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
  }

.pagination-container {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 20px;
  }
  
  .paginationcls {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .paginationcls li {
    margin-right: 10px;
    display: inline-block;
    
}
  
  .paginationcls li a {
    color: #000; 
    text-decoration: none;
    padding: 2px 12px 6px 12px;
    border-radius: 4px;
    color: white;
    background-color: rgba(255, 255, 255, 0.06);
  }
  
  .paginationcls li.active a {
    background-color: rgba(233, 69, 208, 1);
    color: #fff;
    border: none;
  }
  